{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="text-4xl">All Companies</h1>
    </div>
    
    {% include 'company/list.html.twig' with {
        'companies': companies,
        'currentPage' : currentPage,
        'totalPages' : totalPages,
        'route' : route,
        'size' : size
    } %}
{% endblock %}
