{% block body %}
 {% if totalPages > 1 %}
        {# Number of page around current page+1 #}
        {% set nearbyPagesLimit = 2 %}
         <div>
            <ul class="flex justify-center">
                {% if currentPage != 1 %}
                <li>
                    <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300" href="{{ path(route, { 'page': 1, 'size': size }) }}">First</a>
                </li>
                {% endif %}
                {% for i in 1..totalPages %}
                    {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} 
                        <li ><a class="mx-1 flex h-9 w-9 items-center justify-center bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300" href="#">...</a></li>
                    {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} 
                        <li><a class="mx-1 flex h-9 w-9 items-center justify-center  bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300" href="#">...</a></li>
                    {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                    {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                    {% else %}
                        <li {% if currentPage == loop.index  %} class="active"{% endif %}>
                            <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300" href="{{ path(route, { 'page': loop.index, 'size': size }) }}">{{ loop.index }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if currentPage != totalPages %}
                <li>
                    <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-blue-gray-100 bg-transparent p-0 text-sm text-blue-gray-500 transition duration-150 ease-in-out hover:bg-light-300" href="{{ path(route, { 'page': totalPages, 'size': size }) }}">Last</a>
                </li>
                {% endif %}
            </ul>
        </div>
 {% endif %}
{% endblock %}