{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-4xl">Top Companies</h1>
    {% include 'company/list.html.twig' with {
                'companies': companies,
                'currentPage' : currentPage,
                'totalPages' : totalPages,
                'route' : route,
                'size' : size
    } %}
{% endblock %}
